.tab-container {
  @apply flex flex-row justify-around items-center h-[50px];
  background: linear-gradient(
    to bottom right,
    rgb(212, 212, 236),
    rgb(13, 1, 6)
  );
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.tab-container p {
  @apply w-3/12 bg-[black] text-[white] h-[50px] text-center text-2xl font-[bold] pt-2.5 hover:bg-[white] hover:text-[black];
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.tab-container-card {
  @apply flex flex-row pb-2.5;
  background: linear-gradient(
    to bottom right,
    rgb(212, 212, 236),
    rgb(13, 1, 6)
  );
}
#video-player-two {
  @apply h-[400px] w-[75vw] mt-2.5;
}
.request-button-hero {
  @apply bg-[rgb(220,210,219)] text-[rgb(39,16,70)] text-xl font-[bold] flex flex-row justify-between items-center w-40 h-[50px] mt-[10%] px-2.5 rounded-[50px] border-0 hover:bg-[black] hover:text-[white];
  font-family: "Serif";
}
