.nav-bottom-container-1 {
  @apply min-h-[50vh] flex flex-row pt-[10px] px-[40px];
  /* margin-top: 58px; */
  background: linear-gradient(
    to bottom right,
    rgb(212, 212, 236),
    rgb(13, 1, 6)
  );
}
.nav-card-1 {
 
  @apply flex flex-col justify-center items-center ml-[10%];
}
.nav-card-heading {
  @apply text-[white] text-[40px];
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.nav-card-description {
  @apply text-[rgb(220,210,219)] text-sm;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
 
}
.request-button {
  @apply bg-[black] text-[white] text-xl font-[bold] flex flex-row justify-around items-center w-[10px] h-[50px] mt-2 mt-[5px] rounded-[50px] border-0 hover:bg-[white] hover:text-[black];
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.girl-image {
  @apply h-[400px];
}
.nav-card-2 {
  @apply flex flex-col justify-center items-start;
}
