.hero-section-one-container {
  @apply flex flex-col justify-center bg-[aliceblue];
}
.hero-section-one-heading {
  @apply text-white text-[40px] font-extrabold text-center;
  background: linear-gradient(
    to bottom right,
    rgb(212, 212, 236),
    rgb(71, 70, 71)
  );
  font-family:'Verdana, Geneva, Tahoma, sans-serif';
  font-weight: 100
}
.hero-section-card {
  @apply flex flex-row justify-between mt-0;
  background: linear-gradient(
    to bottom right,
    rgb(212, 212, 236),
    rgb(13, 1, 6)
  );
}
.hero-section-card-one {
  @apply flex flex-col justify-around items-center ml-[10%];
}
.hero-section-card-two {
  @apply flex flex-col justify-around items-center mr-[10%];
}
#video-player {
  @apply h-[600px] w-[600px];
}
.request-button {
  @apply bg-[black] text-[white] text-xl font-[bold] flex flex-row justify-around items-center w-[140px] h-[50px] mt-5 mt-[50px] rounded-[50px] border-0 hover:bg-[white] hover:text-[black];
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}
